

	
	<h5><span class="new badge <%= review.user.is_critic ? "red" : "blue" %>" data-badge-caption="reviews"><%= review.user.reviews.size %></span><%= review.user.username %></h5>
	<p><%= review.body %></p>
	<% review.rating.times do %>
  	<img height="30" src=/images/popcorn.png>
  <% end %>
  <div class="divider"></div>
	
	<% review.comments.each do |comment| %>
		<h5><%= review.user.username %></h5>
		<p><%= comment.body %></p>
		<div class="divider"></div>
	<% end %>


